@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* PAGE 1 */
.page1 {
  background-image: url('/bg.png');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

/* PAGE 2 */
.page2 {
  background-image: url('/bg2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.page3 {
  background-image: url('/mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  
}

/* REVIEWS */
.reviews{
  background-image: url('/bg.png');
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

